@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

 /*home page*/
        
 ul {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: #ddeb23;
    position: fixed;
    width: 100%;
}

.logo {
    padding-left: 2em;
}

.logo-text {
    font-size: 2em;
    font-weight: 900;
}

.menubar {
    width: 100%;
    margin-left: 8.5em;
    margin-right: 20px;
  

}

.list {
    display: flex;
    justify-content: space-between;
}

.list-items {
    color: black;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    transition: 0.4s;
}

.list-items a:hover {
    color: rgb(93, 69, 230);
}

.burger {
    height: 28px;
    width: 32px;
    display: none;
}


.section1 {
    height: calc(100vh - 10vh);
    width: 100%;
    background: url("images/charity1.jpg") center center/cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.section1 .banner {
    height: 300px;
    width: 800px;
    background: ;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    
    z-index: 8;
}

.banner h1 {
    font-size: 3em;
    font-weight: 800;
    color: blue;
}

.banner h2 {
    font-size: 1.5em;
    font-weight: 800;
    color: rgb(4, 4, 61);
}

.banner a {
    display: center;
    justify-content: center;
    padding: 1em 2.5em;
    font-size: 0.8em;
    color: rgb(209, 225, 228);
    background-color: #f09d51;
    transition: all 0.3s;
}

.banner a:hover {
    background: #1e8bd4;
    padding-left: 5px;
}

.about h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.vision h1{
    text-align: center;
    color: #1e8bd4;
    font-size: 40px;
    font-weight: 500;
}
.vision p{
    text-align: center;
}


.sectiondonation .bannerdonation {
    height: 300px;
    width: 100%;
    background: transparent;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 8;
}


.bannerdonation h1{
    font-size: 40px;
    font-weight: 700;
    color: #0d5806;
}
.bannerdonation a {
    display: center;
    justify-content: center;
    padding: 1em 2.5em;
    font-size: 0.8em;
    color: rgb(209, 225, 228);
    background: #703a08;
    transition: all 0.3s;
}

.bannerdonation a:hover {
    background: #1e8bd4;
    padding-left: 5px;
}

.contact h2{
    font-size: 40px;
}


/*about page*/
.abouts h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #885b08;
    }

/*footer*/
.container-footer {
    max-width: 1170px;
    margin: auto;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #885b08;
    padding: 70 px 0;
}

.footer-col {
    width: 33%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.social-links {
    margin-top: 50px;
    text-align: center;
    justify-content: flex-end;
}

.social-links a {
    display: inline-block;
    margin-right: 50px;
}

.social-links img {
    width: 20px;
    height: 20px;
}

.copyright p {
    text-align: center;
    padding: 20px;
    color: #f8f0f0;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}